.personalPage {
    height: 100%;
    .header {
        display: flex;
        justify-content: space-between;
        &-slogan {
            margin-left: 20px;
            display: flex;
            align-items: center;
            &-logo {
                height: 20px;
                width: 30px;
                background-color: rgba(255, 255, 255,0.5);
                display: inline-block;
            }
            &-title {
                margin:0; padding: 0;
                display: inline-block;
                color: #FFFFFF;
                font-size: 14px;
                margin-left: 10px;
                line-height: 20px;
            }
        }
        &-welcome {
            color: #FFFFFF;
            font-size: 14px;
            a{
                margin-left: 20px;
                font-size: 14px;
                cursor: pointer;
            }
        }
    }
    .content {
        margin: 10px;
        background: #FFF;
        height: 100%;
        padding: 20px 50px;
    }
    .footer {
        text-align: center;
        height: 48px;
    }
}